<h1>Everyone has something to say</h1>
<p>Tell your story to the world</p>

<% @stories.each_slice(3) do |stories|%>
<div class="card-deck">
    <% stories.each do |story|%>
    <div class="card mb-4">
        <%= image_tag story.image, class:"card-img-top" %>
        <div class="card-body">
            <h5 class="card-title">Subido por:<%= story.user.name %></h5>
            <% if user_signed_in? %>
                <%= link_to 'Show', story, class:"btn btn-info" %>
                <%= link_to 'Edit', edit_story_path(story), class:"btn btn-info" %>
                <%= link_to 'Destroy', story, method: :delete, class:"btn btn-info", data: { confirm: 'Are you sure?' } %> 
            <% else %>
                <%= link_to 'Show', story, class:"btn btn-info" %>
            <% end %>
        </div>  
    </div>     
    <% end %>
</div>
<% end %>